# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Project3/lung_mi.sas7bdat
.Rproj.user
Project/srtm_43_12.mgrd
Project/saga_2.1.4_Win32/saga_prj.dic
*.tip
*.dll
Project/saga_2.1.4_Win32/dll/gdal-data/compdcs.csv
Project/saga_2.1.4_Win32/dll/gdal-data/coordinate_axis.csv
*.wkt
Project/saga_2.1.4_Win32/dll/gdal-data/datum_shift.csv
Project/saga_2.1.4_Win32/dll/gdal-data/ellipsoid.csv
Project/saga_2.1.4_Win32/dll/gdal-data/gcs.csv
Project/saga_2.1.4_Win32/dll/gdal-data/gcs.override.csv
Project/saga_2.1.4_Win32/dll/gdal-data/gdalicon.png
*.svg
Project/saga_2.1.4_Win32/dll/gdal-data/gdal_datum.csv
Project/saga_2.1.4_Win32/dll/gdal-data/geoccs.csv
Project/saga_2.1.4_Win32/dll/gdal-data/gml_registry.xml
Project/saga_2.1.4_Win32/dll/gdal-data/gt_datum.csv
Project/saga_2.1.4_Win32/dll/gdal-data/gt_ellips.csv
*.dxf
*.gfs
*.xml
*.xsd
*.ini
Project/saga_2.1.4_Win32/dll/gdal-data/ozi_datum.csv
Project/saga_2.1.4_Win32/dll/gdal-data/ozi_ellips.csv
Project/saga_2.1.4_Win32/dll/gdal-data/pci_datum.txt
Project/saga_2.1.4_Win32/dll/gdal-data/pci_ellips.txt
Project/saga_2.1.4_Win32/dll/gdal-data/pcs.csv
Project/saga_2.1.4_Win32/dll/gdal-data/pcs.override.csv
Project/saga_2.1.4_Win32/dll/gdal-data/prime_meridian.csv
Project/saga_2.1.4_Win32/dll/gdal-data/projop_wparm.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57agencies.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57attributes.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57attributes_aml.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57attributes_iw.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57expectedinput.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57objectclasses.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57objectclasses_aml.csv
Project/saga_2.1.4_Win32/dll/gdal-data/s57objectclasses_iw.csv
*.dgn
Project/saga_2.1.4_Win32/dll/gdal-data/stateplane.csv
Project/saga_2.1.4_Win32/dll/gdal-data/unit_of_measure.csv
Project/saga_2.1.4_Win32/dll/gdal-data/vertcs.csv
Project/saga_2.1.4_Win32/dll/gdal-data/vertcs.override.csv
*.h
Project/saga_2.1.4_Win32/saga.ger.txt
Project/saga_2.1.4_Win32/saga.lng.txt
Project/saga_2.1.4_Win32/saga_api.lib
Project/saga_2.1.4_Win32/saga_cmd.exe
Project/saga_2.1.4_Win32/saga_gdi.lib
Project/saga_2.1.4_Win32/saga_gui.cfg
Project/saga_2.1.4_Win32/saga_gui.exe
Project/saga_2.1.4_Win32/saga_prj.srs
