LaRoche_Manuscript_JABES-concordance.tex
LaRoche_Manuscript_JABES-blx.bib
LaRoche_Manuscript_JABES.bbl
LaRoche_Manuscript_JABES.blg
LaRoche_Manuscript_JABES.log
LaRoche_Manuscript_JABES.run.xml
LaRoche_Manuscript_JABES.synctex.gz
LaRoche_Manuscript_JABES.tex
LowSiteData.grd
LowSiteData2.grd
smoothHighTWI.grd
smoothHighTWI_sens.grd
smoothLowTWI.grd
smoothLowTWI_sens.grd
HighSiteData.grd
